<article id="<%= question.id %>">
  <form id="question" method="get" action='/questions/<%= question.id %>'>

    <input type="submit" value="<%= question.title %>" style=" border-width:0px; color:blue; " />
  </form>
</article>
