<article id="<%= question.id %>">
  <form id="question" method="get" action='/questions/<%= question.id %>'>
    <input type="submit" value=<%= question.title %> style="background:none; border-width:0px; color:blue; text-decoration:underline;" />
  </form>
</article>
