.upvote_button{
  display: inline-block;
}
.downvote_button{
  display: inline-block;
}
#question{
  display: inline-block;
}
.question_id{
  display: inline-block;
}
.vote_tally{
  display: inline-block;
}
