.layout{
  min-width: 1000px;
}

#title {
  display: block;
  height: 80px;
  float: left;
  color: white;
  font-size: 325%;
  padding-top: 25px;
  padding-left: 20px;
  font-family: Helvetica;
}
#layout ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li.navigation {
  float: right;
}
.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 44px 16px;
  font-size: 125%;
  font-family: Helvetica;
  text-decoration: none;
}

.navigation a:hover {
    background-color: #111;
}

.popup_login {
  opacity:0.92;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

height: 25%;
width: 25%;
background: #000;
}
.popup_register {
  opacity:0.92;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

height: 25%;
width: 25%;
background: #000;
}

.hidden{
  display: none;
}

.popup_inner{
  color: white;
  float: right;
  margin-right: 50%;
  text-align: center;

}
#logout{
  display: block;
  color: white;
  text-align: center;
  padding: 44px 16px;
  font-size: 125%;
  font-family: Helvetica;
  text-decoration: none;
  background-color: #333;
  border: none;
}
