<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
 <link rel="stylesheet" href="/css/normalize.css">
 <link rel="stylesheet" href="/css/application.css">
 <link rel="stylesheet" href="/css/layout.css">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="/js/application.js"></script>

  <title>DBC Overflow</title>
</head>
<body>
  <div id="layout">
    <ul>
      <li id="title">DBC Overflow</li>
      <% if @logged_in %>
        <li class="navigation"><a href='/'>Back to home</a></li>
        <li class="navigation"><a href='/users/new'>Welcome</a></li>
        <li class="navigation"><a href='/sessions/new'>Logout</a></li>
      <% else %>
      <li class="navigation"><a href='/questions'>Display all questions</a></li>
        <li class="navigation"><a href='/'>Back to home</a></li>
        <li class="navigation"><a href='/users/new'>Register</a></li>
        <li class="navigation"><a href='/sessions/new'>Login</a></li>
      <% end %>
    </ul>
  <div>
  <%= yield %>
</body>
</html>
